@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectrum Health Services, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css">
    <link href="~/Content/custom_css/login.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/custom_css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom_css/media.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/custom_js/main.js"></script>
    <script src="~/Content/custom_js/fontawesome.js" crossorigin="anonymous"></script>
    <script src="~/Content/custom_js/jQuery-v3.3.1.js"></script>
    <style>
    </style>
</head>

<body>
    <div class="wrap Mainbg">
        <div class="container-fluid">
            <div class="row pl-5">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="logo">
                        <a href="index.html"><img class="img-fluid" style="max-width: 85px;" src="~/Content/images/apovia.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="WelcomeMSG">
                        <h2>Welcome To</h2>
                        <h1>Q-LOG</h1>
                        <h3>Your home for advanced analytics and Reports.</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 text-center">
                    <div class="Loginview">
                        <i class="fa fa-user LoginIcon" aria-hidden="true"></i>
                        <h4>User Log In</h4>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Select FQHC</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="User ID">
                            <div class="input-group-append">
                                <span class="input-group-text IconBtnBG"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <span class="input-group-text IconBtnBG"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block ButtonDefault" onclick="location.href='@Url.Action("Landing", "Home")'">LOGIN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectrum Health Services, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/resources/custom_css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="~/Content/resources/custom_css/media.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/Content/resources/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/resources/custom_js/main.js"></script>
    <script src="~/Content/resources/custom_js/fontawesome.js" crossorigin="anonymous"></script>
    <script src="~/Content/resources/custom_js/jQuery-v3.3.1.js"></script>
</head>
<body class="Mainbg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="LandingTopMenu">
                    <a href="#">Sabrina Testbot</a>
                    <a href="#">Settings</a>
                    <button type="button" class="btn btn-primary btn-lg TopButton">Sign Out</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <a href="Home/Index"><img class="img-fluid" src="~/Content/resources/images/logo.jpg" alt=""></a>
                <div class="LeftHeading">
                    <h2>Welcome To Q-LO</h2>
                    <h3>Your home for advanced analytics and reports.</h3>
                    <button type="button" class="btn btn-primary btn-lg TopButton" onclick="location.href='@Url.Action("GetYourReport", "Home")'">Get Reports</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="PoweredBy">
                    <h4>Powered By: <img src="~/Content/resources/images/apovia.png" alt=""></h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>-->
